<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo pedido a domicilio</title>
</head>
<body>
    <p>Nuevo pedido a domicilio:</p>
    <p>Usuario: {{ user.username }}</p>
    <p>Nombre: {{ nombre }}</p>
    <p>Dirección: {{ direccion }}</p>
    <p>Teléfono: {{ telefono }}</p>
    <ul>
        {% for product in product_names %}
            <li>{{ product }}</li>
        {% endfor %}
    </ul>
    <p>Total a pagar: ${{ total_price }}</p>
    <p>Clave secreta del usuario: <strong>{{ secret_key }}</strong></p>
</body>
</html>