/* General */
body {
    background-color: #e3ecf5; /* Fondo claro para la página */
    font-family: 'Poppins', sans-serif;
    color: #333333; /* Color de texto oscuro para buena legibilidad */
    margin-top: 80px; /* Para que la navbar fija no tape contenido */
    background-size: cover;
    background-attachment: scroll; /* La imagen se desplaza con el contenido */
}

/* Navbar */
.navbar {
    background-color: #1d1b19 !important; /* Fondo café para la navbar */
}
.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: #ddd !important;
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
    color: #ffcc00 !important;
}

/* Hero Section */
.hero {
    background-color: #e3ecf5; /* Fondo claro para la sección .hero */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-content {
    background: #e3ecf5;
    padding: 20px;
    border-radius: 10px;
}
.hero h1 {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
}
.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.hero .btn {
    background-color: #1d1b19; /* Cambiado a color café oscuro */
    color: #fff; /* Texto blanco para contraste */
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Añadido para el efecto hover */
}
.hero .btn:hover {
    background-color: #ffcc99; /* Color claro para el hover */
    transform: scale(1.1); /* Agrandar un poco el botón */
}

/* Ver Más Button */
.ver-mas-btn {
    background-color: #1d1b19; /* Cambiado a color café oscuro */
    color: #fff; /* Texto blanco para contraste */
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Añadido para el efecto hover */
}
.ver-mas-btn:hover {
    background-color: #ffcc99; /* Color claro para el hover */
    transform: scale(1.1); /* Agrandar un poco el botón */
}

/* Cocktails Section */
.cocktails-section {
    padding: 60px 0;
    background-color: #fff; /* Fondo blanco para la sección */
    text-align: center;
}
.cocktails-section .section-title {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    color: #1d1b19; /* Color café oscuro */
}
.cocktails-section .section-subtitle {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #333333; /* Color de texto oscuro */
}
.cocktail-item {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.cocktail-item img {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
}
.cocktail-item h3 {
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
    color: #1d1b19; /* Color café oscuro */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
}
.cocktail-item p {
    font-size: 1rem;
    color: #333333; /* Color de texto oscuro */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
}
.cocktail-item img.appear, .cocktail-item h3.appear, .cocktail-item p.appear {
    opacity: 1;
    transform: translateY(0);
}

/* Tarjetas */
.card {
    background-color: #222;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.2);
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.card-title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.5rem;
}

/* Celebrate Section */
.celebrate-section {
    padding: 60px 0;
    background-color: #e3ecf5; /* Fondo claro para la sección */
    text-align: center;
}
.celebrate-section .section-title {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    color: #1d1b19; /* Color café oscuro */
}
.celebrate-section .section-subtitle {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #333333; /* Color de texto oscuro */
    text-align: center; /* Centrar el texto */
}
.celebrate-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
}
.celebrate-section h3 {
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
    color: #1d1b19; /* Color café oscuro */
    text-align: left;
}
.celebrate-section p {
    font-size: 1rem;
    color: #333333; /* Color de texto oscuro */
    text-align: left;
}
.celebrate-section .form-group {
    margin-bottom: 20px;
}
.celebrate-section .btn {
    background-color: #1d1b19; /* Color café oscuro */
    color: #fff; /* Texto blanco para contraste */
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Añadido para el efecto hover */
}
.celebrate-section .btn:hover {
    background-color: #ffcc99; /* Color claro para el hover */
    transform: scale(1.1); /* Agrandar un poco el botón */
}

/* Responsive */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    .hero p {
        font-size: 1rem;
    }
}
